<% if @recent_movies.present? %>
Recently updated movies
<ul>
	<% @recent_movies.each do |movie|%>
		<li><%= link_to movie.name, controller: "movies", action: "show", id: movie.id%> &nbsp;&nbsp;[<%=movie.language.title%>]
			<% if movie.category && movie.category.title.downcase != 'feature film'%>
				- <%= movie.category.title %>
			<% end %>
			<!-- <a href="/system/Onnam Loka Mahayuddham.mkv">Download</a> -->
		</li>
	<%end%>
</ul>
<% end %>
<% if @movies.present? %>
The following movies are not copied to HD.
<ul>
	<% @movies.each do |movie|%>
		<li><%=movie.name%></li>
	<%end%>
</ul>
<% end %>

<%=link_to "Movies", movies_path %>